---
export async function get() {
  return {
    redirect: '/blog',
    status: 302
  };
}
---
---
---  
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/blog" />
  </head>
  <body>
    <p>Redirecting to <a href="/blog">/blog</a>...</p>
  </body>
</html>
